body {
    font-family: 'Rubik', sans-serif;
    color: #06AED5;
    font-size: 16px;
    line-height: 1;
    background-color: #FFFDF9;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    padding: 10px;
    outline: none;
    overflow: none;
    font-size: 14px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 10px solid black;
  }

  .saveBtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #06AED5;
    color: white;
    padding: 15px;
    
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
.activity{
  text-align: center;
}

.fas {
  margin-right: 6px;
}

.clear{
  background-color: #DBDBDB;
  border-radius: 8px;
  margin-top: 2%;
  margin-bottom: 5%;
  padding: 5px;
  margin-right: auto;
}

#clearbutton{
  width: 100%;
  text-align: center;
}