body {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    padding: 10px;
    outline: none;
    overflow: none;
    font-size: 14px;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 5px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #000000;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #ff6961;
    color: white;
  }
  
  .future {
    background-color: #77dd77;
    color: white;
  }
  
  .saveBtn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #06AED5;
    color: white;
    padding: 15px;
    
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }
  
.activity{
  text-align: center;
}

.fas {
  margin-right: 6px;
}